.card-image {
  width: 10vw;
  background-size: cover;
}

.card-body {
  width: fit-content;
  display: inline-block;
  position: relative;
}

.card-overlay {
  position: absolute;
  top: 7%;
  right: 7%;
  background-color: aqua;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
}