.modal-bucket {
  border: 1px solid black;
  padding: 5px;
  margin: 2em 1em;
  height: 320px;
  overflow-y: scroll;
  min-width: 300px;
  min-height: 500px;
  display: inline-block;
  text-align: center;
}

.modal-bucket-title {
  text-align: center;
}