.modal-bucket {
  border: 1.5px solid gold;
  padding: 5px;
  margin: 2em 1em;
  height: 320px;
  overflow-y: scroll;
  min-width: 300px;
  min-height: 500px;
  display: inline-block;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.5);
}

.modal-bucket-title {
  text-align: center;
}